  
/*css goes here*/
:root {
    --main-color:linear-gradient(to right,#070a44,#41084a);
    --red-gradient:linear-gradient(to right,#8083ff,#ff5589);
    --red-bg:#d50000;
    --purple-dark:#2f0a35;
    --blue-dark:#12094e;
    --black:#0c0c0d;
    --green-dark:#093d0e;
    --teel-dark:#084b47;
}

*,*:after,*:before{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}
body {
    padding: 0;
    margin:0;
    font-family: 'Poppins',sans-serif; background:linear-gradient(rgba(0,0,26,1),rgba(0,0,26,0.7)),url("https://images.pexels.com/photos/330771/pexels-photo-330771.jpeg?cs=srgb&dl=pexels-markus-spiske-330771.jpg&fm=jpg");
    background-size:cover;
    overflow:hidden;
}
.overlay{
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.6);
    visibility: hidden;
    opacity: 0;
    transition: 0.8s ease;
    -webkit-transition:0.8 ease;
}

.toggle .overlay {
    visibility: visible;
    opacity: 1
}

.section {
    display:grid;
    place-items:center;
    height:100vh;    
    font-family:monospace;
    font-size:12px;
    padding:20px;
    position:relative;
    z-index:3;
    overflow:hidden
}
.p-wrap {
    color:#fff;
    background:rgba(0,0,0,0.7);
    width:100%;
    max-width:600px;
    margin: auto;
    border-radius:10px;
    overflow:hidden;
    padding:0;
   
    z-index:444
}
.pd {
    padding:22px
}
.p-block {
    padding:6px 8px;
    position: relative ;
    background:#000d1a;
    display:flex;
    justify-content:space-between;
    align-items:center
    
    
}

.p-block span {
    width:5px;
    height:5px;
    border-radius:100px;
   display:inline-block;
   margin:0 1px 0 0
}

.p-block .reddot {
    background:#ff152a
}
.p-block .yellowdot {
    background:#ffb22b
}

.p-block .greendot {
    background:#5cff40
}
.xlose span {
    margin: 0 5px
}

.img-content {
    display:grid;
    grid-template-columns:1fr;
    grid-gap: 0 20px;
}

pre {
    background:rgba(255,255,255,0.052);
    padding:10px
}


.img-content img {
    width:20px;
    height:20px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid rgba(0,0,0,0.1);
}


.p-content {
    display:grid;
    grid-template-columns:50% 1fr
}

.p-content li{
list-style:none;
text-transform:capitalize;
padding:3px 0;
}


#box {
    height:200px;width:200px;
    background:rgba(0,0,0,.8);
    position: absolute;
    top:40%;
    left:-120px;
    transform: translateY(-40%);
    border-radius:50%;
}

#box1 {
    height:200px;width:200px;
    background:rgba(0,0,0,0.8);
    position: absolute;
    top: 80%;
    right: -120px;
    transform: translateY(-80%);
    border-radius:50%;
}














/*CONTACT BUTTON AND SHARE*/
.fixed-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction:column;
    background: none;
    position: fixed;
    left: 24px;
    bottom: 26px;
    padding: 2px;
    z-index: 666;
 
}
.sharethis{
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-width: 1px;
    border-style: dashed;
    border-color: rgba(255,255,255,0.1);
    border-radius: 50%;
    -webkit-border-radius:50%;
    background: rgba(255,255,255,0.06);
    position: relative;
    color: rgba(255,255,255,0.6);
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-flex-direction:column;
    cursor: pointer;
    outline: none;
    margin: 10px 0
}
.sharethis i {
    font-size: 24px
}

.share{
    position: relative;
    width: auto;
    height: auto;
    background: var(--red-gradient);
    border-radius: 7px;
    transition: .8s;
    max-height: 0;
    overflow: hidden;
}
.share-wrapper{
    padding: 0;

}
.share-wrapper a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255,255,255,0.6);
    margin: 0;
    padding: 10px;
    border-bottom-style: dashed;
    border-bottom-color: rgba(255,255,255,0.1);
    border-bottom-width: 1px;    
}
.share-wrapper a:last-child{
    border:none!important;
}
.share-wrapper a i {
    font-size: 20px
}
.toggle .share {max-height: 25rem}
.share-wrapper a:hover{
    color: #eee
}
.sharethis:hover{
    color: #eee;
    border-style: double;
    border-color: #eee
}
.ct {
    position: relative;
    border:none;
    outline: none;
    border-radius: 50%;
    -webkit-border-radius:50%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: rgba(255,255,255,0.06);
    color: rgba(255,255,255,.5);
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-flex-direction:column;
    z-index: 666;
    border-color: rgba(255,255,255,0.1);
    border-style: dashed;
    border-width: 2px;
    cursor: pointer;
}
.ct span {
    font-size: 24px
}
.ct:hover {
    border-color: #eee;
    border-style: double;
    color: #eee
}

.contact {
    position: fixed;
    height: 0;
    width: 0;
    background: var(--red-gradient);
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 575;
    transition: 0.8s ease;
    -webkit-transition:0.8s ease;
    overflow: hidden;
}
.contact .container {
    display: grid;
    display: -webkit-grid;
    place-items:center;
    height:100vh;
    width:100vw;
}
.contact .form {
    display: grid;
    display: -webkit-grid;
    width:100%
}
.contact .form ::placeholder{
    color: rgba(255,255,255,0.5);
    font-family: monospace;
}
.contact .input-group {
    margin: 14px 0;
    display: grid;
    display: -webkit-grid;
    grid-template-columns:repeat(auto-fit,minmax(25px,1fr));
    font-family: monospace;
    grid-gap:10px
}
.contact .input-group input {
    height: 42px;
    line-height: 42px;
    border:none;
    outline: none;
    border-radius: 3px;
    background: rgba(255,255,255,0.06);
    border-color:rgba(255,255,255,0.1);
    border-style: dashed;
    border-width: 1px;
    width: auto;
    color: rgba(255,255,255,0.5);
    padding: 0 16px;
}

.bandt {
    display:grid;
    grid-template-columns:1fr
}

.contact #textarea {
    height: 100px;
    background: rgba(255,255,255,0.06);
    border-color:rgba(255,255,255,0.1);
    border-width: 1px;
    border-style: dashed;
    border-radius: 3px;
    margin: 0 0 14px 0;
    padding: 14px;
    color: rgba(255,255,255,0.5);
}
.contact .ok {
    background: rgba(255,255,255,0.06);
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: rgba(255,255,255,.5);
    border:0;
    border-radius: 3px;
    outline: none;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    border-color: rgba(255,255,255,0.1);
    border-style: dashed;
    border-width: 1px;
    font-family: monospace;
}
.contact .ok:hover {
    background: #fff;
    color: #1f2024
}
.contact ::placeholder {
    color: #fff
}
.contact input:focus,.contact #textarea:focus {
    outline: 0;
    color: #fff;
    font-weight: bold;
}
.contact input:active {
    color: #fff
}
.togglecontact .contact {
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    bottom:0;
    transition: 0.8s
}

/*MEDIA SCREEN*/
@media screen and (max-width: 768px) {
    header #big {
        font-size: 30px;
    }
     header h3 {
         font-size:15px
     }
    header #autotext {
        margin-left: 0
    }
    header p {
        font-size: 20px
    }
    header{
    }
    header main {
        padding: 0 10px
    }
    .contact .form{
        padding: 10px;
        box-sizing: border-box;
    }
    header .follow a {
        width: 34px;
        height: 34px;
        line-height: 34px
    }
}
@media screen and (max-width: 768px) {
    header{
        
    }
    header .follow a {
        width: 27px;
        height: 27px;
        line-height: 27px;
    }
    header .follow a span {
        font-size: 20px
    }
    .ct,.sharethis {
        width: 40px;
        height: 40px;
        line-height: 40px
    }
    .ct span,.sharethis i {
        font-size: 16px
    }
    .fixed-item {
        left: 12px
    }
    .share-wrapper a {
        padding: 9px
    }
    .share-wrapper a i {
        font-size: 14px
  }
    header main img {
     width: 150px;
     height: 150px;
    }
    .p-wrap {
        font-size:10px
    }
}
@media screen and (max-height: 550px){
    header {
        height: auto;
        padding: 14px 10px
    }
}
